@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "NotoSansKr";
  src: url("/NotoSansKR-VariableFont_wght.ttf") format("truetype"),
    url("/NotoSansKR-Bold.ttf") format("truetype"),
    url("/NotoSansKR-ExtraBold.ttf") format("truetype"),
    url("/NotoSansKR-ExtraLight.ttf") format("truetype"),
    url("/NotoSansKR-Light.ttf") format("truetype"),
    url("/NotoSansKR-Medium.ttf") format("truetype"),
    url("/NotoSansKR-Regular.ttf") format("truetype"),
    url("/NotoSansKR-SemiBold.ttf") format("truetype"),
    url("/NotoSansKR-Thin.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
}

:root {
  font-synthesis: none;
  font-family: "NotoSansKr", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.text-marker {
  font-size: clamp(8px, 10vw, 13px);
}
